@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,800;1,500&display=swap');

:root{
    --primary-color:#2356FF;
    --secondry-color:#7657FF;
    --light-secondry-color:#8da7fc;
    --gray-bg-color:#f9f9f9;
    --gray-border-color:#dddddd;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
    display: flex;
    width: 100%;
    height: 100dvh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #f2f5ff,var(--gray-bg-color));
}

.title{
    display: flex;
    gap: 10px;
    align-items: center;
}

.container{
    background-color: white;
    padding: 25px;
    border-radius: 12px;
    width: 90%;
    max-width: 700px;

}

.title-text{
    background: linear-gradient(to right, var(--primary-color),var(--secondry-color));
    -webkit-background-clip: text;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
}

.i-title{
    background: linear-gradient(to right, var(--primary-color),var(--secondry-color));
    fill: white;
    min-width: 45px;
    height: 45px;
    padding: 8px;
    border-radius: 12px;
    box-shadow: 0px 2px 10px var(--light-secondry-color);
}

.form-and-image{
    display: flex;
    margin-top: 24px;
    gap: 32px;
}
/* FORM CONTAINER*/
.form-container{
    width: 100%;
    
}
/* IMAGE CONTAINER*/
.image-container{
    aspect-ratio: 1/1;
    width: 65%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.prompt{
    resize: none;
    background: var(--gray-bg-color);
    border: solid 1.5px var(--gray-border-color);
    border: 8px;
    padding: 8px 10px;
    width: 100%;
    outline: 3px solid transparent;
    transition: 150ms ease-in;
    &:focus{
        border: 3px solid var(--light-secondry-color);
    }
}

.drop-dwon{
    margin-top: 8px;
    display: flex;
    gap: 12px;
}

.form-dropdown{
    padding: 8px 12px;
    border-radius: 8px;
    background-color: var(--gray-bg-color);
    border: solid 2px transparent;
    transition: .2s ease;
    &:focus{
        border: solid 3px var(--light-secondry-color);
    }
}

.submit{
    padding: 8px 12px;
    margin-top: 30px;
    border-radius: 8px;
    background: linear-gradient(to right, var(--primary-color),var(--secondry-color));
    border: solid 2px transparent;
    color: white;
    width: 100%;
    gap: 12px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 600;
    transition: .5s ease;
    &:hover{
        border: solid 3px var(--light-secondry-color);
        scale: 1.05;
    }
}

.img-result{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, .25);
    cursor: pointer;
    transition: .3s ease;
}

.image-container.loading{
    box-shadow: none;
    background-color: var(--gray-bg-color);
}
.image-container.loading .layer,
.image-container.loading .download{
    display: none;
}

.image-container:hover .img-result{
    transform: scale(1.05);
}

.image-container:hover .layer{
    opacity: 1;
}

.loading{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.loading-spinner{
    width: 70%;
    height:70%;
}

.loading-text{
    font-size: 14px;
    margin-top: 20px;
}

.layer{
    position: absolute;
    background: black;
    width: 100%;
    height: 30%;
    bottom: 0; 
    opacity: 0;
    transition: .5s ease;
    background: linear-gradient(to top, rgba(0,0,0,.75),rgba(0,0,0,0));

}

.download{
    position: absolute;
    right: 25px;
    bottom: 25px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: rgba(255,255,255,.25);
    opacity: 0;
    transition: .5s;
    fill: white;
    color: white;
}

.image-container:hover .download{
    opacity: 1;
    color: white;
}


@media screen and (max-width:768px){
    .container{
        overflow: scroll;
        height: 90%;
    }
    .download{
        margin: 10px;
        transform: scale(1.1);
    }
    .form-and-image{
        flex-direction: column;
    }
    .image-container{
        width: 100%;
    }
}